%li.category{:id => "shop_category_#{node.id}", :'data-id' => node.id }
  .attributes
    %span.handle
    - render_region :category_attributes do |category|
      - category.category_title do
        %span.title.attribute= link_to node.title, edit_admin_shop_category_path(node)
      - category.category_description do
        %span.sku.attribute= node.handle
      - category.category_modify do
        .modify
          %span.add_child= link_to t('add_product'), admin_shop_category_new_product_url(node)
          %span.remove= link_to t('remove'), remove_admin_shop_category_url(node)
  - render_region :category_products do |category|
    - category.category_products do
      %ul.products{:id => "shop_category_#{node.id}_products", :'data-id' => node.id}
        = render :partial => '/admin/shop/products/node', :collection => node.products