- @selected = :products
- @title = 'Products - Radiant CMS - Publishing for Small Teams'
- content_for :meta do 
  = render :partial => 'head'
  
#shop_products

  %h2 Categories
  %p Products within your shop are organised in categories
  
  %ul#shop_product_categories_list
    %li.category#shop_product_category_guys
      %span.title 
        = link_to 'Guys', '/shop/products/categories/guys', { :class => 'current', :'data-id' => '1' }
    %li.category#shop_product_category_guys
      %span.title        
        = link_to 'Gals', '/shop/products/categories/gals', { :'data-id' => '2' }
    %li.category#shop_product_category_guys
      %span.title        
        = link_to 'Kids', '/shop/products/categories/kids', { :'data-id' => '3' }
    %li.new.category
      %span.title        
        = link_to 'Create', '/shop/products/categories/kids', :class => 'new'
  
  
  #shop_product_container
    %form
      #shop_product_category
        %input#shop_product_category_title.textbox{:value => "Guys"}

      #shop_product
        #shop_product_inputs
          #shop_product_inputs_main
            %input#shop_product_name{:name => 'product[title]', :value => "Retro Fun T-Shirt"}
            %span#shop_product_currency $
            %input#shop_product_cost{:name => 'product[price]', :value => "69.69"}
          
            #shop_product_fields{:style=>"display: none"}
              %table.fieldset
                %tr
                  %th.label
                    %label{:for=>"page_slug"} handle
                  %td.field
                    %input#shop_product_handle{:value => "retro_fun_t-shirt"}
                  %td.actions
          %p.more_or_less
            %a{:id=>"more_shop_product_fields", :href=>"javascript: $('shop_product_fields').show(); $('less_shop_product_fields').show(); $('more_shop_product_fields').hide(); this.stop()"} More
            %a{:id=>"less_shop_product_fields", :href=>"javascript: $('shop_product_fields').hide(); $('more_shop_product_fields').show(); $('less_shop_product_fields').hide(); this.stop()", :style=>"display: none"} Hide

        #shop_product_details
          .tabs
          .details
            .detail.page{'data-caption'=>"images"}
              %div
                images here
              %input{:type=>"hidden",:name=>"product[images][0]"}
            .detail.page{'data-caption'=>"description"}
              %div
                %textarea.large#shop_product_description{:name=>"product[description]", :style=>"width: 100%"}=""
      
        #shop_product_actions
          %input#shop_product_submit{:type => "submit"}
          %a#shop_product_delete{:href => "#"} delete
        
#shop_products_alt

  %h2 Products
  %p These are all the products you have for sale
  
  %ul#shop_products_list
    %li.product#shop_product-retro_fun
      %span.title
        = link_to 'Retro Fun T-Shirt', '/shop/products/retro_fun', {:class => 'current', :'data-sku' => 'retro_fun', :'data-id' => '1' }
    %li.product#shop_product-retro_boring
      %span.title
        = link_to 'Retro Boring T-Shirt', '/shop/products/retro_boring', {:'data-sku' => 'retro_boring', :'data-id' => '2' }
    %li.product#shop_product-retro_cool
      %span.title
        = link_to 'Retro Cool T-Shirt', '/shop/products/retro_cool', {:'data-sku' => 'retro_cool', :'data-id' => '3' }
    %li.product#shop_product-retro_baby
      %span.title
        = link_to 'Retro Baby T-Shirt', '/shop/products/retro_baby', {:'data-sku' => 'retro_baby', :'data-id' => '4' }        