%p.title
  = hidden_field_tag '_method', nil, :id => 'shop_product_method'
  = hidden_field_tag 'page_part_index_field', 0
  = f.hidden_field :id, :class => 'clearable'
  = f.hidden_field :category_id, :class => 'clearable'

  = f.text_field :title, :class => 'clearable'
  
.drawer
  .drawer_contents
    %ul
      %li
        = f.label :price
        = f.text_field :price, :class => 'clearable'
      %li
        = f.label :handle
        = f.text_field :handle, :class => 'clearable'
      %li
        = f.label :sku
        = f.text_field :sku, :class => 'clearable'