= hidden_field_tag '_method', nil, :id => 'shop_product_method'
= f.hidden_field :id, :class => 'clearable'
= f.hidden_field :category_id, :class => 'clearable'

= f.text_field :title, :class => 'clearable'
= f.label :price, '$', :id => 'shop_product_price_label'
= f.text_field :price, :class => 'clearable'

#extended_metadata{meta_visible(:meta)}
  %input#page_part_index_field{ :type => 'hidden' }
  %table.fieldset
    %tr
      %th.label
        = f.label :handle
      %td.field
        = f.text_field :handle, :class => 'clearable'
    %tr
      %th.label
        = f.label :sku
      %td.field
        = f.text_field :sku, :class => 'clearable'
%p.more_or_less
  %a{:href=>'#extended_metadata',:class => "rounded_bottom_right rounded_bottom_left #{(meta_errors? ? 'more' : 'less')}"}= meta_label