= render_region :form_top

- render_region :form do |form|
  - form.edit_title do
    %p.title
      %label{:for => 'shop_product_title'}= t('title')
      = fields.text_field :title, :class => 'textbox', :maxlenth => 255
      
  - form.edit_price do
    %p.title
      %label{:for => 'shop_product_price'}= t('price')
      = fields.text_field :price, :class => 'textbox', :maxlenth => 255, :value => number_to_currency(@shop_product.price, :unit => '', :delimiter => '') 
  
  - form.edit_extended_metadata do
    .drawer
      .drawer_contents#attributes
        %table.fieldset
          - @meta.each do |meta|
            = render :partial => 'admin/shop/products/meta/' + meta, :locals => { :f => fields }
          = render_region :extended_metadata, :locals => { :f => fields }
      .drawer_handle
        %a.toggle{:href=>'#attributes', :rel=>"toggle[attributes]", :class=>"#{(meta_errors? ? 'less' : 'more')}"}= meta_label
    
  - form.edit_content do 
    #tab_control
      #tabs.tabs
        #tab_toolbar
      #pages.pages
        = hidden_field_tag 'page_part_index_field' #important
        = render :partial => 'part', :collection => @parts
    
- render_region :form_bottom do |form_bottom|
  - form_bottom.edit_buttons do
    - @buttons_partials.each do |partial|
      = render :partial => partial, :locals => {:f => fields}
    %p.buttons{:style=>"clear: left"}
      = save_model_button(@shop_product)
      = save_model_and_continue_editing_button(@shop_product)
      = t('or')
      = link_to t('cancel'), admin_shop_products_url
  - form_bottom.edit_timestamp do
    = updated_stamp @shop_product
    
#routes{:style => 'display:none'}

  = hidden_field_tag 'admin_shop_product_images_path', admin_shop_product_images_path(@shop_product)
  = hidden_field_tag 'admin_shop_product_sort_images_path', admin_shop_product_sort_images_path(@shop_product)